@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-home {
  background:url('/bg-diamante.svg') ,linear-gradient(90deg, #66fcd2, #00d9ff) ;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
