<nav id="nav" class="flex items-center justify-between px-6 py-4 bg-white shadow">
  <div class="AzvNggSudjN8b9d1tUDT">
    <a href="/" title="Poki" aria-label="Poki" class="C9J5Us6VaKM5y0Kq4sg2 yggcq_ZJewqJonP5DRa1">
      <img src="/imggames/logo.png" alt="Poki Logo" class="h-10 w-auto" />
    </a>
  </div>
  <div class="NuKVRCdKjJRkfpg0OKXi flex items-center gap-4">
    <div class="vGp0i9xNxNl4iAGQKiNz Ms6HEJ826qeso4NBVC0w flex items-center gap-2">
      <button type="button" id="profile-btn" class="buttonReset ws_jwHTo7sEfy1j5uimE" title="Profile">
        <svg xmlns="http://www.w3.org/2000/svg" class="HrtZDfkdX3MeqfZEX6gy" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
          <use xlink:href="#profileIcon"></use>
        </svg>
      </button>
    </div>
    <button type="button" title="Search" aria-label="Search" class="buttonReset Ms6HEJ826qeso4NBVC0w pMuUqYFsIC6GCbPomoSK">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" width="24" height="24">
        <path d="M10 2a8 8 0 105.293 14.293l4.707 4.707 1.414-1.414-4.707-4.707A8 8 0 0010 2zm0 2a6 6 0 110 12 6 6 0 010-12z"/>
      </svg>
    </button>
  </div>
</nav>
